@media screen and (max-width: 1200px) {
    html {
        font-size: 0.5rem;
    }
}

@media screen and (max-width: 800px) {
    html {
        font-size: 0.4rem;
    }

    .end-section-text li {
        margin-right: 15rem;
    }
}